<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <input type="hidden" id="formName" value="converter">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 p-2">
            <form class="form-group">
                <span th:text="#{lang.change}"></span>:
                <select class="form-select" id="locales" name="lang" onchange="submit()">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="ru" th:text="#{lang.ru}"></option>
                </select>
            </form>
        </div>
        <div class="col-md-2 p-2">
            <form th:action="@{/logout}" id="logout" method="post">
                <input type="submit" th:attr="value=#{signout}"/>
            </form>
        </div>
    </div>
    <div class="row">
        <form id="convertData">
            <div class="container rounded border m-4 bg-light">
                <div class="row justify-content-center p-1">
                    <h4><span th:text="#{message.converter}"></span></h4>
                </div>

                <div class="row justify-content-center p-1">
                    <div class="col">
                        <select class="form-control" style="width: 300px" id ="currency1" th:field="*{currencies}">
                            <option style="width: 300px" th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" style="width: 300px" id="currency2" th:field="*{currencies}">
                            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center p-1">
                    <div class="col">
                        <input type="text" style="width: 300px" class="form-control" id="amount"/>
                    </div>
                    <div class="col">
                        <input type="text" style="width: 300px" class="form-control" id="result">
                    </div>
                </div>
                <div class="row justify-content-center p-3">
                    <button type="submit" id="btn-convert" class="btn btn-primary btn-lg"><span th:text="#{convert}"></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form id="historyData">
            <div class="container rounded border m-4 bg-light">
                <div class="row justify-content-center p-1">
                    <h3><span th:text="#{history}"></span></h3>
                </div>
                <div class="row justify-content-center p-1">
                    <div class="col">
                        <input type="date" class="form-control" id="historyDate"/>
                    </div>
                    <div class="col">
                        <select id="firstCurrency" class="form-control" style="width: 300px" th:field="*{currencies}">
                            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
                        </select>
                    </div>
                    <div class="col">
                        <select id="secondCurrency" class="form-control" style="width: 300px" th:field="*{currencies}">
                            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center p-1">
                    <table class="table table-striped" id="historyTable">
                        <thead class="thead-light">
                        <tr>
                            <th><span th:text="#{currency.source}"></span></th>
                            <th><span th:text="#{currency.target}"></span></th>
                            <th><span th:text="#{convertOperation.rate}"></span></th>
                            <th><span th:text="#{source.sum}"></span></th>
                            <th><span th:text="#{result.sum}"></span></th>
                            <th><span th:text="#{date}"></span></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center p-1">
                    <button type="submit" id="btn-search" class="btn btn-primary btn-lg"><span th:text="#{search}"></span></button>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="history-template">
                <div id="history"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>